/* Body */

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#main-content {
    flex: 1;
}


/* Socials */

#socials {
    text-align: center;
    padding: 20px;
    display: flex;
    justify-content: center;
    background-color: #333;
    color: #fff;
}

#socials i {
    font-size: 24px;
    padding: 5%;
    margin: 0 10px;
    color: white;
    transition: color 0.3s;
}

#socials i.hover {
    color: #ccc;
}

#socials li {
    display: inline-block;
    list-style-type: none;
    margin-right: 10px;
}

#socials ul {
    padding: 0;
    margin: 0;
    display: inline-block;
    list-style: none;
}

#socials ul li {
    display: inline;
    margin-right: 5px;
}

#socials ul li:last-child {
    margin-right: 0;
}

#socials p {
    margin: 0;
    line-height: 40px;
}

#socials .social-icons {
    display: inline-block;
    margin-right: 5px;
}

#socials .social-icons:last-child {
    margin-right: 0;
}