
body{
  overflow: hidden;
  
}

  .navMenu {
      color: #ffffff;

      text-decoration: none !important;

      padding: 10px;
       
  }
  .navMenu:hover{
      background-color: black;
      color:#C49639;
      
  }
  .nav-li {

      display: inline-block;
      padding: 0 10px; 
      font-size: 18px;
      
  }

  .headermenu {
      background-color: black;
      color: white;
      padding: 0px; 
      margin: 0px;
      
  }
 
  .aboutBack{
      background-color: black;
      color: white;
      padding-top: 104px;
      overflow: scroll;
     height: 700px;
  }
  .aboutNav{
    background-color: black;
  }
  .aboutHead {
    padding-bottom:0px;
  }
  .navbar-nav li {
    font-size: 20px;
    color: white;

  }

  .navbar-nav li a:hover {
    cursor: pointer;
    background-color: white;
    color: black
  }

  .navbar-nav li a {
    font-weight: bold;
    font-size: 20px;

  }

  .logoTitle {
    font-size: 50px;
    font-weight: bold;
    font-style: italic;
  }